:root{
  --primary-color: #8a3ab9;
}
.d-grid{
  display:grid;
}
.m-1{
  margin: 1rem;
}
.comments{
    padding: 8px;
  background: none;
  border-radius: 15rem;
  margin: 5px;
}
.timeline {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}
.Center{
  align-items:center;
  justify-items:center;
}
.sCenter{
  align-self:center;
  justify-self:center;
}
.text-white{
  color: #fff;
}
.Logo{
  width: 200px;
}

@media (max-width: 420px){
  .Logo{
    width: 100px;
  }
  .text-white{
    font-size: 12px;
  }
  #myBtnContainer{
    margin-top: 3rem;
  }
  .post_footer{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }

}